body {
    font-family:monospace;
}

#top, #note {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.field {
    display:flex;
    margin: 10px;
    width: 100%;
    justify-content: center;
}

#error {
    color: red;
}

#logoutDiv {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;

    button {
        margin-left: 20px;
        margin-right: 20px;
    }
}