* {
    font-family:monospace;
}

#welcome {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.content {
    display: flex;
    justify-content: center;
}

table {
    border: solid 1px;
}

tr,td {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

td {
    padding: 10px;
}

th {
    font-size: 16;
}

#intro {
    margin: 20px;
}

#logoutDiv{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}